ACTION="Install"
ENU="True"
PRODUCTCOVEREDBYSA="False"
SUPPRESSPRIVACYSTATEMENTNOTICE="False"
QUIET="False"
QUIETSIMPLE="False"
UPDATEENABLED="True"
SUPPRESSPAIDEDITIONNOTICE="False"
UpdateSource="MU"
FEATURES=IS
HELP="False"
INDICATEPROGRESS="False"
INSTALLSHREDDIR="C:\sql2022"
INSTALLSHAREDWOWDIR="C:\sql2022\sql2022x86"
INSTANCEDIR="C:\Program Files\Microsoft SQL Server"
ISSVCSTARTUPTYPE="Automatic"
ISSVCACCOUNT="username"
ISSVCPASSWORD="password"